.desk {
    &-properties {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        &__picture {
            max-width: 15%;
            margin: 10px;
        }
    }
}
.ui-dialog-titlebar-close {
    display: none;
}