$background: #20272A;
$foreground: #313B3F;

.app {
    background-color: $background;
}

.container {
    display: flex;

    &--column {
        flex-direction: column;
    }

    &--row {
        flex-direction: row;
    }
}