$background: #20272A;
$foreground: #313B3F;
$fonts: Roboto, Helvetica Neue, sans-serif;

.app {
    background-color: $background;
    font-family: $fonts;

    &__container {
        padding: 20px;
    }
}