$background: #20272A;
$foreground: #313B3F;
$fonts: Roboto, Helvetica Neue, sans-serif;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.app {
    background-color: $background;
    font-family: $fonts;
    min-height: 100%;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
    }

    @media (min-width: 376px) {
        &__container {
            padding: 20px;
        }
    }

    @media (min-width: 769px) {
        &__container {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}