.listed-room {
    margin: 10px 0;

    &__properties {

        .ui-fieldset-legend:hover {
            background-color: #eeeeee;
            cursor: pointer;
        }
    }


    &__desk {
        margin: 10px;
    }
}

.properties {
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}
